@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Roboto:ital,wght@0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

a {
  text-decoration: none;
  color: inherit;
}

.menu {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: var(--header-background-color);
  color: var(--header-text-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  padding-top: 1rem;
  flex-wrap: wrap;
  /* gap: 1rem; */
}

.cartButton {
  display: flex;
  flex-direction: row-reverse;
  order: 3;
  gap: 1rem;
}

.cartQuantity {
  background-color: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartButtonColor {
  color: var(--header-storeIcon-color);
}

.menu img {
  width: 13rem;
}

.menu h1 {
  font-family: var(--font-padrao);
  margin-right: 2rem;
}
.menu .dropdown {
  top: -10rem;
}
.navbar .hamburgerLines {
  display: none;
}

ul {
  list-style: none;
  display: flex;
  gap: 3rem;
  order: 2;
}

ul li {
  font-size: 0.8rem;
  font-family: var(--font-padrao);
}

.NavBar ul .arrow {
  display: none;
}

.NavBar {
  order: 2;
}

.NavBar .MobileNavigation {
  display: none;
}

.NavBar .filter {
  display: none;
}

@media screen and (max-width: 568px) {
  .dropdown {
    display: none;
  }
  .NavBar .MobileNavigation {
    display: flex;
  }

  .NavBar .Navigation {
    display: none;
  }

  .menu {
    justify-content: space-around;
    width: 100%;
    position: fixed;
    z-index: 99;
    height: 4rem;
  }

  .menu .img_logo {
    order: 2;
  }

  .NavBar {
    order: 1;
  }

  .cartButton {
    flex-direction: row;
    order: 3;
  }

  .NavBar ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #535151;
    right: 0;
    top: 4rem;
    width: 100%;
    height: 100vh;
    z-index: 999;
    overflow-y: scroll;
    gap: 1rem;
  }

  .NavBar .filter {
    display: flex;
    flex-direction: column;
  }

  /* .NavBar .filter {
    padding-left: 1.5rem;
    font-size: 1.2rem;
    width: 100%;
  } */

  .NavBar ul li {
    padding-left: 1.5rem;
    font-size: 1.2rem;
    width: 100%;
  }

  .NavBar ul .item,
  .NavBar .filter .item {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0;
    line-height: 1rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(104, 104, 104);
  }

  .NavBar .category {
    /* background-color: #110583; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 5px;
    justify-items: center;
    grid-column-gap: 49px;
    grid-row-gap: 21px;
    overflow: scroll;
  }

  .NavBar .category .cati {
    border: 1px solid rgb(139, 138, 138);
    border-radius: 5px;
    padding: 1rem 0;
    width: 8rem;
    text-align: center;
  }
}
