@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Roboto:ital,wght@0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

a {
  text-decoration: none;
  color: inherit;
}

.menu {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: rgb(0, 0, 0);
  padding: 2rem 2rem;
  color: var(--header-text-color);
  display: flex;
  /* align-items: center; */
  gap: 1rem;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.menu > .navAndLogo {
  display: flex;
  gap: 3rem;
}

.cartButton {
  display: flex;
  flex-direction: row-reverse;
  order: 3;
  /* gap: 0.2rem; */
}
.cartButton p {
  cursor: pointer;
}

.cartQuantity {
  background-color: #4d5852;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartButtonColor {
  color: #ffffff;
  cursor: pointer;
}

.menuUser {
  position: absolute;
  z-index: 99;
  display: flex;
  width: 5rem;
  padding: 1rem;
  top: 3.5rem;
  flex-direction: column;
  list-style: none;
  background-color: rgb(255, 255, 255);
  color: black;
  text-align: center;
}

.menuUser li:hover {
  border-bottom: 1px solid rgb(223, 218, 218);
  cursor: pointer;
}
.menu img {
  width: 13rem;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userName {
  color: #ffffff;
  cursor: pointer;
}

.menu .dropdown {
  top: -10rem;
}
.navbar .hamburgerLines {
  display: none;
}

ul {
  list-style: none;
  display: flex;
  gap: 3rem;
  order: 2;
}

.NavBar ul .arrow {
  display: none;
}

.NavBar ul li {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 0.9rem;
  font-family: 'Source Sans Pro', sans-serif;
}
.NavBar {
  order: 2;
}

.NavBar .MobileNavigation {
  display: none;
}

.NavBar .filter {
  display: none;
}

@media screen and (max-width: 568px) {
  .cartButton .userName {
    display: none;
  }

  .menuUser {
    right: 0;
  }

  .NavBar .MobileNavigation {
    display: flex;
  }

  .NavBar .Navigation {
    display: none;
  }

  .menu .navAndLogo {
    gap: 1rem;
  }

  .menu {
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0.2rem;
    width: 100%;
    /* position: fixed; */
    z-index: 99;
  }

  .menu .img_logo {
    order: 2;
  }

  .NavBar {
    order: 1;
  }

  .cartButton {
    flex-direction: row;
    order: 3;
  }

  .NavBar ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #4d5852;
    right: 0;
    top: 4rem;
    width: 100%;
    height: 100vh;
    z-index: 999;
    overflow-y: scroll;
    gap: 0;
    transition: all ease-in-out 2s;
  }

  .NavBar .filter {
    display: flex;
    flex-direction: column;
  }

  .NavBar ul li {
    padding-left: 1.5rem;
    font-size: 0.9rem;
    color: #fff;
    width: 100%;
  }

  .NavBar ul .item,
  .NavBar .filter .item {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0;
    line-height: 1rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(104, 104, 104);
  }

  .NavBar .category {
    /* background-color: #110583; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 5px;
    justify-items: center;
    grid-column-gap: 49px;
    grid-row-gap: 21px;
    overflow: scroll;
  }

  .NavBar .category .cati {
    border: 1px solid rgb(139, 138, 138);
    border-radius: 5px;
    padding: 1rem 0;
    width: 8rem;
    text-align: center;
  }
}
