@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  background-color: var(--main-background-color);
  min-height: 50rem;
}

.container {
  width: 100%;
  display: flex;
  padding-top: 1rem;
  flex-direction: row-reverse;
  gap: 1rem;
  justify-content: center;
  height: auto;
  font-family: var(--font-padrao);
  padding-bottom: 1rem;
  text-align: center;
}
.emptyCart {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.emptyCart img {
  width: 10rem;
}
.category {
  background-color: #fcfcfc;
  border: 1px solid #f0f0f0;
  width: 20%;
  /* margin-top: 1rem; */
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
  align-items: flex-start;
}
.category li {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.content {
  display: flex;
  align-items: flex-start;
  width: 80%;
}
.category li:hover {
  border-bottom: 1px solid #f0f0f0;
}

.category h3.sideTitle {
  margin-top: 0.5rem;
  font-size: 20px;
  color: #333;
}

.category h3.sideTitle:after {
  content: '';
  width: 60px;
  height: 1px;
  background: #000000;
  display: block;
  margin-top: 6px;
}
.cat {
  border-bottom: 2px solid black;
}

/* .category .reset {
  border: 1px solid rgb(139, 138, 138);
  border-radius: 5px;
  display: flex;
  text-align: center;
} */

.bottom {
  border-bottom: 2px solid black;
}

@media screen and (max-width: 568px) {
  .category {
    display: none;
  }
}
