@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  background-color: var(--main-background-color);
  min-height: 50rem;
}

.container {
  width: 100%;
  display: flex;
  padding-top: 1rem;
  flex-direction: row-reverse;
  gap: 1rem;
  justify-content: center;
  height: auto;
  font-family: var(--font-padrao);
  padding-bottom: 1rem;
  text-align: center;
}
.emptyCart {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.emptyCart img {
  width: 10rem;
}

.content {
  display: flex;
  align-items: flex-start;
  width: 100%;
}



/* .category .reset {
  border: 1px solid rgb(139, 138, 138);
  border-radius: 5px;
  display: flex;
  text-align: center;
} */

.bottom {
  border-bottom: 2px solid black;
}
