@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  padding-top: 1rem;
  flex-direction: column;
  /* flex-wrap: wrap; */
  gap: 1rem;
  justify-content: center;
  height: auto;
  font-family: 'Oswald', sans-serif;
  padding-bottom: 1rem;
  text-align: center;
}