.title {
  margin-bottom: 5vh;
}
/* .returnClass {
  position: relative;
  height: 100vh;
} */

.card {
  display: flex;
  flex-direction: row;
  font-family: var(--font-padrao);
  margin: 0 auto;
  max-width: 950px;
  width: 90%;
  height: 100%;
  /* box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  padding: 6rem 0;
  /* margin: 1rem 0; */
}

.cart {
  width: 70%;
  padding: 4vh 5vh;
}

.border {
  cursor: pointer;
  display: flex;
  justify-content: center;
  border: 1px solid rgba(177, 175, 175, 0.5);
}

.quantityItem {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
}

.item {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1rem;
  justify-content: space-between;
  border-bottom: 0.5px solid rgb(218, 216, 216);
}

.category {
  font-size: 0.2;
  color: rgb(156, 156, 156);
}

.item .imageItem {
  display: flex;
  align-items: center;
  width: 10rem;
  height: auto;
  padding: 0.2rem;
}

.imageItem img {
  /* margin-bottom: 1rem; */
  width: 100%;
  height: 50%;
  object-fit: contain;
}

.formContainer {
  width: 100%;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.formContainer h4,
p {
  margin-bottom: 1rem;
}

.summary {
  width: 30%;
  background-color: #ddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65);
}

.title b {
  font-size: 1.5rem;
}

.swal2-container {
  z-index: 20000 !important;
}

.imageItem,
.col {
  padding: 0 3vh;
}

.col span {
  cursor: pointer;
}

span {
  padding: 0 1vh;
}

.close {
  cursor: pointer;
  margin-left: auto;
  font-size: 0.7rem;
}

.back-to-shop {
  margin-top: 4.5rem;
}

h5 {
  margin-top: 4vh;
}

hr {
  margin-top: 1.25rem;
}

form {
  padding: 2vh 0;
}

select {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}

.btn {
  background-color: #000;
  border-color: #000;
  color: white;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 4vh;
  padding: 1vh;
  border-radius: 0;
  cursor: pointer;
}

.btn:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  -webkit-box-shadow: none;
  transition: none;
}

.btn:hover {
  color: white;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}
.emptyCart {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: center;
}
.emptyCart img {
  width: 10rem;
}

@media (max-width: 568px) {
  .card {
    flex-direction: column;
    width: 100%;
  }

  .cart {
    padding: 1rem 0.6rem 0 0.6rem;
    width: 100%;
  }

  .item {
    margin: 0;
  }

  .item .imageItem {
    padding: 0;
  }

  .item .imageItem img {
    width: 80%;
  }

  .titleItem {
    padding: 1rem 0;
  }

  .category {
    padding: 0.5rem 0;
  }

  .quantityItem {
    flex-direction: column;
    padding: 0 0.5rem;
  }

  .quantityItem span {
    font-size: 1.5rem;
  }

  .summary {
    border-radius: 0;
    width: 100%;
  }

  .imageItem,
  .col {
    padding: 0;
  }
  .form-style-8 {
    width: 100%;
  }
}
